<div class="contracts-fragment">
    <h1>Список контрактов</h1>

    <div>
        <label>
            pId:
            <input type="number" id="contracts-pId">
        </label>
        <label>
            pLmt:
            <input type="number" id="contracts-pLmt" value="10">
        </label>
        <button type="button" id="load-contracts-btn">Загрузить</button>
    </div>

    <br>

    <div id="contracts-message"></div>

    <table id="contractsTable" style="display:none;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Номер договора</th>
            <th>Дата договора</th>
            <th>ID контрагента</th>
            <th>Создан</th>
            <th>Обновлён</th>
            <th>Создал пользователь</th>
            <th>Обновил пользователь</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>